main {
  display: flex;
  justify-content: center;
  align-items: center;
  .main_wrapper {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    .sign_in {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 3em 3em 0 3em;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 100%;
      max-width: 400px;
      &__login {
        display: flex;
        flex-direction: column;
        gap: 15px;
        Button {
          background-color: hsl(120, 73%, 75%);
        }
        &_btn {
          border-radius: 100px;
          &:hover {
            --state-layer-opacity: 0.15 !important;
          }
        }
        a {
          padding-bottom: 10px;
          align-self: center;
          text-decoration: none;
        }
      }
      &__buttons {
        flex-direction: column;
        display: flex;
        gap: 15px;
        margin-bottom: 0.8em;
      }
      h4 {
        font-size: 24px;
        margin-bottom: 1.5em;
      }
      .logged__wrapper {
        display: flex;
        gap: 15px;
        flex-direction: column;
        h4 {
          margin-bottom: 5px;
        }
        a {
          padding-bottom: 10px;
        }
      }
      &__remember {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0.8em;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        h5 {
          font-size: 14px;
          font-weight: 400;
        }
      }
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.no_select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 0.5em;
}
