.problem_input {
    & input {
        font-size: 17px;
        width: 100%;
    }
}
.textarea_input {
    font-size: 17px;
    max-width: 270px;
}

.form_wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-top: 15 px;
    max-height: 650px;
    //overflow-y: auto;
    //overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.phone_section {
    place-items: center;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 0.5em;
}

.success {
    color: green;
    background-color: antiquewhite;
    padding: 2em;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
}
