.picture {
    height: 240px;
    width: 115px;
    margin-left: auto;
}
.container {
    height: 240px;
    width: 163px;
    background-color: lightblue;
    display: flex;
    place-items: center;
    flex: 1 1 auto;
    justify-content: center;
}
