.data_table {
    &__wrapper {
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    &__header {
        text-align: center;
    }
    &__columns {
        display: flex;
        flex-direction: column;
    }
}

.drop_area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashed {
    border: 3px dashed black;
    height: 15%;
    padding: 15px;
    width: 35%;
    text-align: center;
}

.label_form {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: #000000;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    &:hover {
        box-shadow:
            0px 4px 6px -1px rgba(0, 0, 0, 0.25),
            0px 6px 10px 0px rgba(0, 0, 0, 0.2),
            0px 2px 15px 0px rgba(0, 0, 0, 0.15);
    }
}
