.__device_info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    & .section__wrapper {
        display: grid;
        grid-column: 2 / -2;
        grid-row: 2 / -2;
        row-gap: 10px;
        color: var(--text-color);
    }
    &__header {
        gap: 10px;
        display: flex;
        place-content: center;
        align-items: center;
        & h4 {
            font-size: 26px;
        }
    }
    &__connection {
        display: flex;
        align-self: center;
        justify-self: center;
        gap: 20px;
    }
}

.no_select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.circle {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 1px solid gray;
    &__offline {
        background-color: hsl(0, 100%, 50%);
    }
    &__online {
        background-color: hsl(120, 100%, 25%);
    }
    &__check {
        background-color: hsl(60, 100%, 50%);
    }
    &__On {
        background-color: hsl(120, 100%, 25%);
    }
    &__Off {
        background-color: hsl(0, 100%, 50%);
    }
}
