.__wrapper {
    grid-area: main;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    gap: 18px;
    min-width: 250px;
    place-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.__container {
    background: var(--background-color-items);
    color: var(--text-color);
    padding: 15px;
    min-width: 250px;
    border-radius: 8px;
    &__header {
        h4 {
            text-align: center;
        }
    }
    &__body {
        display: flex;
        padding: 15px;
        flex-direction: column;
        gap: 11px;
        & span {
            display: flex;
            align-items: center;
        }
    }
}
