.worker_requests {
    &__wrapper {
        padding: 15px;
        padding-top: 0px;
        & .available_requests {
            & h2 {
                text-align: center;
            }
        }
    }
}
.available_requests {
    color: white;

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        gap: 10px;
        padding: 16px 0px 16px 0px;
        &__item {
            text-overflow: ellipsis;
            max-width: 100%;
            overflow: hidden;
            position: relative;
            color: var(--text-color-on-surface);
            text-align: center;
            justify-self: center;
            place-items: center;
            border-radius: 6px;
            padding: 1em;
            background-color: hsl(34, 78%, 81%);
            min-width: 225px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            & button {
                cursor: pointer;
            }
            &__header {
                display: grid;
                grid-template-rows: 25px 1fr 1fr;
            }
            & .span__wrapper {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                & span {
                    color: hsl(0, 100%, 40%);
                    cursor: pointer;
                }
            }
        }
    }
}

.no_select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.added__failed {
    position: absolute;
    color: hsl(0, 0%, 0%);
    animation: reg_failed 2s forwards;
    background-color: hsl(0, 100%, 65%);
    padding: 15px;
    border-radius: 5px;
}

.indicators {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        place-items: center;
        height: 70px;
    }
    &__button {
        border-radius: 6px;
        background-color: var(--special-btn-color);
        color: hsl(0, 0%, 96%);
        margin-left: auto;
        &::before {
            border-radius: 6px;
        }
        & h4 {
            font-size: 20px;
            align-self: center;
            margin-right: 10px;
        }
    }
}

// .available_requests__grid__item__header h3 {
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     max-width: 100%;
//     overflow: hidden;
// }

.button_styles {
    background-color: rgb(160, 34, 42);
    color: var(--text-color);
    border-radius: 6px;
    &::before {
        border-radius: 6px;
    }
}
